.App {
  min-height: 100vh;
}


.LinkWrapper {
  padding: 0.5rem;
  align-self: flex-start;
}

.ModeControls {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  align-items: baseline;
}

.DemoModeLabel {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  input {
    margin-top: .5rem;
  }
}

.DashboardModeSelector {
  width: 50%
}