.Dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    height: 100vh;
    background-color: #24211f;
}

.DashContainer {
    width: 100%;
    height: auto;
    overflow: hidden;
    aspect-ratio: 640 / 479;
}

.TopControlButtons {
    display: flex;
    justify-content: space-between;
    top: 0;
    position: absolute;
    align-self: normal;
    padding-inline: 0.5rem;
    box-sizing: border-box;
    width: 100%;
}

.ControlButton {
    background: transparent;
    opacity: 0.5;
    color: var(--accent);
}

.ControlButton:hover {
    opacity: 1;
    color: initial;
    background: var(--accent);
}