.ConnectionScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    flex-direction: column;
    padding: 0.5rem;
}

.LinkWrapper {
    padding: 0.5rem;
    align-self: flex-start;
}

.ConnectionLogs {
    display: block;
    padding: 0.4rem;
    border: 1px solid rgb(126, 126, 126);
    align-self: normal;
    overflow: auto;
    text-wrap: auto;
    flex-grow: 1;
    font-size: 0.9rem;

    border-radius: 0;

    &>* {
        margin-bottom: 0.2rem;
    }
}

.DebugLog {
    color: gainsboro;
}

.InfoLog {
    color: greenyellow;
}

.WarningLog {
    color: rgb(255, 233, 109);
    font-weight: bold;

}

.ErrorLog {
    color: crimson;
    font-weight: bold;

}